$roboto-font-path: "../../font/roboto/";
$icons-font-path: "../../font/material-design-icons/";
@import 'materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.blue {
  background: #00aeef;
}

.orange {
  background: #f7941d;
}

.brown {
  background: #664418;
}

.brown_alt {
  background: #623f12;
}

.off_white {
  background: #F8F8F8;
}

.bold {
  font-weight: bold;
}

.collection .collection-item.avatar img  {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}